* {
  padding: 0;
  margin: 0;
  font-family: "Imprima";
  color: whitesmoke;
  background-color: #1f2135;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 75px 300px 100px;
  gap: 10px;
}

.header {
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  margin-top: 10%;
  font-size: 36px;
}

.board {
  grid-column: 2;
  grid-row: 2;
  margin-top: 5%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.tile {
  background-color: #464a7d;
  border: 3px solid #1f2135;
  color: #1f2135;

  min-width: 75px;
  min-height: 50px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
}

.footer {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

.reset {
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  font-size: large;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  max-width: 100px;
  max-height: 50px;
  cursor: pointer;
}

.reset:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.hide {
  display: none;
}

.announcer {
  font-size: large;
}

fade-in {
  color: #ffffff;
  background-color: transparent;
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
