* {
  padding: 0;
  margin: 0;
  font-family: "Imprima";
  color: whitesmoke;
  background-color: #463f4d;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 10px;
}

.header {
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  margin-top: 10%;
  font-size: 250%;
}

.board {
  grid-column: 2;
  grid-row: 2;
  margin-top: 5%;
  margin-bottom: 5%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.tile {
  background-color: rgb(118, 156, 206);
  border: 3px solid #463f4d;
  color: #463f4d;

  min-width: 150px;
  min-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
}

.footer {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

.reset {
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  font-size: large;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  max-width: 100px;
  max-height: 50px;
}

.reset:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}
